<span class="created-by">
  Created with ♥ by <b><a href="https://www.tomwilliamfranklin.co.uk" target="_blank">Tom Franklin</a></b> {{date.getFullYear()}}
</span>
<div class="socials">
  <a href="https://github.com/tomwilliamfranklin" target="_blank" class="ion ion-social-github"></a>
  <a href="https://www.linkedin.com/in/tomwilliamfranklin/" target="_blank" class="ion ion-social-linkedin"></a>
  <a href="https://www.tomwilliamfranklin.co.uk/" target="_blank" class="ion ion-social-linkedin"></a>
</div>
