<nb-card>
  <nb-card-header>
    <h3>Welcome to</h3>
    <img src="../../../../assets/TempLogo.png"/>
  </nb-card-header>
  <nb-card-body>
    <div class="input-container">
      <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter Username">
      <label class="under-title">Username</label>
    </div>

    <div class="input-container">
      <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter Password">
      <label class="under-title">Password</label>
    </div>
    <div class="buttons">
      <a>Forgot your password? </a>
      <button class="primary-button" size="large" nbButton>Login </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="sign-up">
      <a>Not on Cardy Wardy yet? Sign up</a>
    </div>
  </nb-card-footer>
</nb-card>
