nb-card {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  nb-card-header {
    border: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3 {
      margin:auto;
    }
    img {
      width: 135px;
      margin: auto;
      margin-top: 0;
    }
  }
}



.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  button {
    width:100%;
  }

  a {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-weight: 800;
  }

  a:hover {
    cursor: pointer;
  }
}

.sign-up {
  a {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-weight: 800;
    text-align: center;
  }

  a:hover {
    cursor: pointer;
  }
}
