.custom-card {
  height: 215px;
  width: 280px;
  text-align: center;
  display:flex;
  justify-content: center;
  margin:auto;
  h1 {
    color: #636e72;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 21px;
  }
}

.placeholder-card {
  height:215px;
  width:280px;
  background-color: unset;
  border: unset;
}

.card-container {
  position: absolute;
  top: 0;
  height: 275px;
}

.card-container-container {
  display: flex;
  justify-content: center;
}

.custom-title {
  margin: 20px;
}

.custom-card-toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: -35px;
  .navigation {
    width:100%;
    display:flex;
    justify-content: center;
    margin-left:36px;
    .page-count {
      margin:10px;
      font-size:13px;
    }
  }

  .enlarge {
    margin-left: 0;
  }
}


.appearance-ghost.status-basic[disabled] {
  background-color: unset !important;
}
