.custom-card {
  height: 215px;
  width: 280px;
  text-align: center;
  display:flex;
  justify-content: center;
  margin:auto;
  h1 {
    color: #636e72;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 21px;
  }
}

.card-container {
  position: absolute;
  top: 0;
}

.card-container-container {
  display: flex;
  justify-content: center;
}

.custom-title {
  margin: 20px;
}
