<nb-card>
  <nb-card-header>
    <h3>Welcome to</h3>
    <img src="../../../../assets/TempLogo.png"/>
    <label class="label signup-caption">Start quizzing yourself today</label>
  </nb-card-header>
  <nb-card-body>
    <div class="input-container">
      <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter Email" [(ngModel)]="username">
      <label class="under-title">Email</label>
    </div>

    <div class="input-container">
      <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter Username" [(ngModel)]="username">
      <label class="under-title">Username</label>
    </div>

    <div class="input-container">
      <input type="password" class="underlined-input small-text" fullWidth placeholder="Enter Password" [(ngModel)]="password">
      <label class="under-title">Password</label>
    </div>

    <div class="buttons">
      <button class="primary-button" size="large" nbButton (click)="Signup()">Signup </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="sign-up">
      <a>Already a member? Sign in </a>
    </div>
  </nb-card-footer>
</nb-card>
