@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

$primary: #e67e22;
$secondary: #8e44ad;

.underlined-input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .5pt;
  border-bottom: 2px solid rgb(48, 53, 69);
  padding-bottom: 5px;
  height: 72px;
  padding-left:0;
  background-color:transparent;
  transition: .2s;
}
.underlined-input:focus {
  border-bottom: 2px solid $primary;
  transition: .2s;
}

.small-text {
  font-size: 23px;
  height:50px;
}

.under-title {
  color: #303545;
  margin: 5px;
  font-size: 14px;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  opacity: 0.8;
}

.primary-button {
  background-color: #8e44ad !important;
  border: none !important;
  color: white !important;
  transition: 0.2s;
}

.primary-button:hover {
  opacity:0.8;
  transition: 0.2s;
}

.input-container {
  display:flex;
  flex-direction: column;
}
