<nb-card class="creator-container">
  <nb-card-header>
    <div class="creator-title">
      <h1 style="padding-bottom:20px;">Create a flashcard deck</h1>
      <div style="margin-left: auto">
        <button class="primary-button" size="large" nbButton (click)="createDeck()">Create </button>
      </div>
    </div>

    <input class="underlined-input" type="text" fullWidth placeholder="Add your title" [(ngModel)]="FlashCardSet.title">
    <label class="under-title">title</label>
    <input class="underlined-input" type="text" fullWidth placeholder="Add your description"  [(ngModel)]="FlashCardSet.description">
    <label class="under-title">description</label>
  </nb-card-header>

  <nb-card-body>
      <div class="card-container" *ngFor="let card of flashcards; let i = index">
        <h1 style="margin-left:40px">{{i + 1}}</h1>
        <div class="left-side">
          <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter text" [(ngModel)]="card.front">
          <label class="under-title">front</label>
        </div>

        <div class="right-side">
          <input class="underlined-input small-text" type="text" fullWidth placeholder="Enter answer" [(ngModel)]="card.back">
          <label class="under-title">back</label>
        </div>
      </div>

    <div class="add-card-container" (click)="addCard()">
      <h3>Add Card</h3>
    </div>
  </nb-card-body>

  <nb-card-footer>
    something
  </nb-card-footer>
</nb-card>
