.creator-container {
  width:100%;
  max-width:1000px;
  margin:auto;
  nb-card-header {
    padding: 40px;
    display:flex;
    flex-direction: column;
    .creator-title {
      display:flex;
      flex-direction:row;
    }
  }

  nb-card-body {
    padding:40px;
  }
}

.underlined-input {
  max-width: 650px;
}

.card-container {
  height:150px;
  width:100%;
  background-color:#F9F9F9;
  display:flex;
  justify-content: center;
  border-radius: 0.25rem;
  margin-bottom: 40px;
  animation: expand .25s ease-in-out;
  h1 {
    margin-left: 40px;
    line-height: 100px;
    text-align: center;
    opacity: 0.8;
  }

  .left-side {
    margin-left: 40px;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

    input {
      padding-top: 0;
    }
  }

  .right-side {
    margin-right: 80px;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;

    input {
      padding-top:0;
    }
  }
}

.add-card-container {
  height:150px;
  width:100%;
  background-color:#F9F9F9;
  display:flex;
  justify-content: center;
  border-radius: 0.25rem;
  position:relative;
  margin:20px auto;
  position:relative;
  transition: 0.2s;
  h3 {
    text-align: center;
    opacity: 0.8;
    color: #222b45;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom:10px;
    border-bottom:2px solid #222b45;
    transition: 0.2s;
  }
}

.add-card-container::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-top: 3px solid  #e67e22;
  border-right: 3px solid  #e67e22;
}

.add-card-container::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-bottom: 3px solid #8e44ad;
  border-left: 3px solid #8e44ad;
}

.add-card-container:hover {
  cursor:pointer;
  transform:scale(1.01);
  transition: 0.2s;
  h3 {
    border-bottom:2px solid #e67e22;
    transition: 0.2s;
  }
}

.card-container:last-child {
  margin-bottom: 0px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
