@import '../../@theme/styles/themes';

@include nb-install-component() {

}

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(30% - 1rem);
  margin: 0 0.5rem;
  columns: 20em;
	column-gap: 1em;
}

.custom-card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;
}
