<div class="card-row">
  <div class="card-col">
    <nb-card class="custom-card" *ngFor="let flashCardSet of flashCardSets; let i = index">
      <nb-card-header>
        {{flashCardSet.title}}
      </nb-card-header>
      <ngx-cards-display [flashcards]="flashCardSet.flashcards"></ngx-cards-display>
      <nb-card-body>
      </nb-card-body>
      <nb-card-footer>
        <div class="authorbar">
          <nb-user
          [name]="'Tom Franklin'"
          [picture]="">
          </nb-user>
          <button class="info-button"><nb-icon icon="info-outline"></nb-icon></button>
        </div>
        {{flashCardSet.description}}
      </nb-card-footer>
    </nb-card>
  </div>
</div>

